@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Layouts/_LayoutMain.cshtml";
}

<div class="content-wrapper">
    <div class="content">

        <div class="breadcrumb-wrapper">
                                <h1>Table</h1>
                                
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-0">
            <li class="breadcrumb-item">
              <a href="index.html">
                <span class="mdi mdi-home"></span>                
              </a>
            </li>
            <li class="breadcrumb-item">
              components
            </li>
            <li class="breadcrumb-item" aria-current="page">table</li>
          </ol>
        </nav>

        </div>

        <div class="row">
            <div class="col">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom">
                        <h2>Basic Table</h2>
                    </div>
                    <div class="card-body">
                        <p class="mb-5">Documentation and examples for opt-in styling of tables (given their prevalent use in JavaScript plugins) with Bootstrap <a href="http://getbootstrap.com/docs/4.1/content/tables/" target="_blank"> more details.</a></p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">1</td>
                                    <td>Lucia</td>
                                    <td>Christ</td>
                                </tr>
                                <tr>
                                    <td scope="row">2</td>
                                    <td>Catrin</td>
                                    <td>Seidl</td>
                                </tr>
                                <tr>
                                    <td scope="row">3</td>
                                    <td>Lilli</td>
                                    <td>Kirsh</td>
                                </tr>
                                <tr>
                                    <td scope="row">4</td>
                                    <td>Else</td>
                                    <td>Voigt</td>
                                </tr>
                                <tr>
                                    <td scope="row">5</td>
                                    <td>Ursel</td>
                                    <td>Harms</td>
                                </tr>
                                <tr>
                                    <td scope="row">6</td>
                                    <td>Anke</td>
                                    <td>Sauter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>