@model UI.Areas.Admin.Features.Auth.ResetPassword.ResetPasswordViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layouts/_LayoutLogin.cshtml";
}

<div class="row justify-content-center mt-5">
    <div class="col-xl-5 col-lg-6 col-md-10">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="app-brand">
                    <a href="/index.html">
                        <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33" viewBox="0 0 30 33">
                            <g fill="none" fill-rule="evenodd">
                                <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z"></path>
                                <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z"></path>
                            </g>
                        </svg>
                        <span class="brand-name">Admin Panel</span>
                    </a>
                </div>
            </div>

            <screen-state screen-state="@Model.ScreenState" equal-to="Initial">
                <div class="card-body p-5">
                    <h4 class="text-dark mb-4">Şifremi Unuttum</h4>

                    <error-message model="@Model" />

                    <p class="mb-4">Lütfen kayıtlı email adresini gir</p>

                    <form method="post">
                        <input type="hidden" asp-for="Token" />
                        <div class="row">
                            <div class="form-group col-md-12 mb-4">
                                <label>Yeni Şifre</label>
                                <input type="password" asp-for="NewPassword" class="form-control input-lg" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12 mb-4">
                                <label>Yeni Şifre Tekrar</label>
                                <input type="password" asp-for="NewPasswordConfirm" class="form-control input-lg" />
                                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Devam</button>
                            </div>
                        </div>
                    </form>
                </div>
            </screen-state>

            <screen-state screen-state="@Model.ScreenState" equal-to="Error">
                <div class="card-body p-5">
                    <h4 class="text-dark mb-4">Üzgünüz</h4>
                    <p class="mb-4">Bir hata oluştu. Ekibimiz bu konuda bilgilendirildi ve bu konu ile ilgilenecekler.</p>

                    <div class="col-md-12 mt-7">
                        <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-primary btn-block mb-4">Geri</a>
                    </div>
                </div>
            </screen-state>

        </div>
    </div>
</div>

@section Scripts {

}