@addTagHelper *, UI
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sleek - Admin Dashboard Template</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="~/admin/plugins/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/admin/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <link href="~/admin/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/admin/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <!-- CSS STYLE -->
    <link rel="stylesheet" href="~/admin/build/app.css" />

    <!-- FAVICON -->
    <link href="~/admin/img/favicon.png" rel="shortcut icon" />
</head>


<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
    <div id="toaster"></div>

    <div class="wrapper">

        <vc:left-menu />

        <div class="page-wrapper">
            <partial name="~/Areas/Admin/Views/Partials/MainHeader.cshtml" />

            @RenderBody()

            <footer class="footer mt-auto">
                <div class="copyright bg-white">
                    <p>
                        &copy; <span id="copy-year">@DateTime.Now.Year</span> Istanbay -Software and Design Studio
                        <a class="text-primary"
                           href="https://istanbay.com/"
                           target="_blank">istanbay.com</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>

    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <script src="~/admin/plugins/toastr/toastr.min.js"></script>
    <script src="~/admin/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
    <script src="~/admin/plugins/moment/moment.min.js"></script>
    <script src="~/admin/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/admin/plugins/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea', height: 500 });</script>

    <script src="~/admin/build/app.js"></script>

    @RenderSection("Scripts", false);

</body>
</html>
