@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Layouts/_LayoutMain.cshtml";
}

<div class="content-wrapper">
    <div class="content">

        <div class="row">
            <div class="col-12">
                <!-- Son İşlemler -->
                <div class="card card-table-border-none" id="recent-orders">
                    <div class="card-header justify-content-between">
                        <h2>Son İşlemler</h2>
                        <div class="date-range-report">
                            <span></span>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Sipariş Id</th>
                                    <th>Ürün Adı</th>
                                    <th>Kullanıcı</th>
                                    <th>İşlem Kodu</th>
                                    <th>Tarih</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>24541</td>
                                    <td>Ürün 1</td>
                                    <td>
                                        <a class="text-dark" href="">Murat Erdoğan</a>
                                    </td>
                                    <td class="d-none d-md-table-cell">PURCHASE</td>
                                    <td class="d-none d-md-table-cell">@DateTime.Now.ToString("dd MMMM yyyy")</td>
                                    <td>
                                        <span class="badge badge-success">Tamamlandı</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                                <li class="dropdown-item danger">
                                                    <a href="#">
                                                        <i class="mdi mdi-delete"></i>
                                                    Sil</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>Ürün 2</td>
                                    <td>
                                        <a class="text-dark" href="">Murat Erdoğan</a>
                                    </td>
                                    <td class="d-none d-md-table-cell">PURCHASE</td>
                                    <td class="d-none d-md-table-cell">@DateTime.Now.ToString("dd MMMM yyyy")</td>
                                    <td>
                                        <span class="badge badge-danger">İptal Edildi</span>
                                    </td>
                                    <td class="text-right">
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>Ürün 2</td>
                                    <td>
                                        <a class="text-dark" href="">Murat Erdoğan</a>
                                    </td>
                                    <td class="d-none d-md-table-cell">PURCHASE</td>
                                    <td class="d-none d-md-table-cell">@DateTime.Now.ToString("dd MMMM yyyy")</td>
                                    <td>
                                        <span class="badge badge-warning">Bekliyor</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                                <li class="dropdown-item danger">
                                                    <a href="#">
                                                        <i class="mdi mdi-delete"></i>
                                                        Sil
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>




</div>