@model WebCMS.Areas.Web.Models.Page.PageModel
@{
    ViewData["Title"] = "Birthdate - Privacy Policy";
    Layout = "~/Areas/Web/Views/Shared/_LayoutClean.cshtml";
}

<div class="mt-4">@Html.Raw(Model.Content)</div>