.widget-dropdown .dropdown-menu .dropdown-item.danger a,
.widget-dropdown .dropdown-menu .dropdown-item.danger a:hover {
    color: #fe5461 !important;
    font-weight: 500;
}

.table div.dropdown {
    margin: -10px 0
}

.footer a, .footer a:focus {
    color: #fe5461 !important;
}

    .footer a:hover {
        color: #fe5461 !important;
        text-decoration: underline;
    }
