.widget-dropdown .dropdown-menu .dropdown-item.danger a,
.widget-dropdown .dropdown-menu .dropdown-item.danger a:hover {
    color: #fe5461 !important;
    font-weight: 500;
}

.table div.dropdown {
    margin: -10px 0
}

.footer a, .footer a:focus {
    color: #fe5461 !important;
}

    .footer a:hover {
        color: #fe5461 !important;
        text-decoration: underline;
    }

ul.pagination .page-item.dots {
    position: relative;
    display: block;
    padding: 1rem 1.25rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #4c84ff;
}

nav.pagination {
    justify-content: center
}

.card-content {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

    .card-content .empty-state {
        display: flex;
        flex: 1;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }

/* Table */
.table .user-image {
    width: 40px;
    border-radius: .25rem;
}

.table td {
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,0.04);
}


/* User Profile */
.user-profile .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

/* Dropdown */
.widget-dropdown .dropdown-menu .dropdown-item {
    padding: 0px;
}

    .widget-dropdown .dropdown-menu .dropdown-item a {
        display: block;
        color: #232323;
        padding: 3px 10px;
        padding: 7px 20px;
    }

        .widget-dropdown .dropdown-menu .dropdown-item a:focus,
        .widget-dropdown .dropdown-menu .dropdown-item a:hover {
            color: inherit;
            background-color: #f5f5f5;
        }

    .widget-dropdown .dropdown-menu .dropdown-item a i {
        padding-right: 7px;
    }