<header class="main-header " id="header">
    <nav class="navbar navbar-static-top navbar-expand-lg">
        <!-- Sidebar toggle button -->
        <button id="sidebar-toggler" class="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
        </button>

        <div class="search-form d-none d-lg-inline-block">

        </div>

        <div class="navbar-right ">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("HeaderUserMenu")
            </ul>
        </div>
    </nav>


</header>
