@inject Data.CurrentUser currentUser

<!-- User Account -->
<li class="dropdown user-menu">
    <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <img src="/admin/public/img/user-avatar-default.png" class="user-image" alt="user_avatar" />
        <span class="d-none d-lg-inline-block">@currentUser.FullName</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <!-- User image -->
        <li class="dropdown-header">
            <img src="/admin/public/img/user-avatar-default.png" class="img-circle" alt="user_avatar" />
            <div class="d-inline-block">
                @currentUser.FullName
                <small class="pt-1">@currentUser.Email</small>
            </div>
        </li>

        <li>
            <a href="profile.html">
                <i class="mdi mdi-account"></i> My Profile
            </a>
        </li>
        <li>
            <a href="email-inbox.html">
                <i class="mdi mdi-email"></i> Message
            </a>
        </li>
        <li>
            <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
        </li>
        <li>
            <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
        </li>

        <li class="dropdown-footer">
            <a href="/admin/auth/logout"> <i class="mdi mdi-logout"></i> Log Out </a>
        </li>
    </ul>
</li>