@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    <!-- FONTS and ICONS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
          rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- SLEEK STYLE FILE -->
    <environment include="Development">
        <link id="sleek-css" rel="stylesheet" href="~/admin/public/css/sleek.css" />
    </environment>
    <environment exclude="Development">
        <link id="sleek-css" rel="stylesheet" href="~/admin/public/css/sleek.min.css" />
    </environment>

    @*<link href="~/admin/public/plugins/toaster/toastr.min.css" rel="stylesheet" />*@
</head>
<body class="bg-light-gray" id="body">
    <div class="container d-flex flex-column justify-content-between vh-100">

        @RenderBody()

    </div>

    <environment include="Development">
        <script src="~/admin/public/plugins/jquery/jquery.js"></script>
        <script src="~/admin/public/js/sleek.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/admin/public/plugins/jquery/jquery.min.js"></script>
        <script src="~/admin/public/js/sleek.bundle.min.js"></script>
    </environment>
</body>
</html>